/* Root = Horizontal, Secondary = Vertical */
ul#navmenu-h {
  margin: 0;
  border: 0 none;
  padding: 0;
/*  width: 500px; old*/
  width: 100%; /*For KHTML*/
  list-style: none;
/*  height: 24px;*/
}

ul#navmenu-h li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
/*  height: 24px;*/
  height: 30px;
}

ul#navmenu-h ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 160px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

ul#navmenu-h ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu-h ul li {
  width: 160px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu (Alan:not root)*/
ul#navmenu-h ul a {
  border: 1px solid #AAA;
  border-right-color: #AAA;
  border-bottom-color: #AAA;
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #FFF;
  color: #000;
/*  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif,ו;*/
  font: 12px/28px Verdana, Arial,ו, Helvetica, sans-serif;
  text-decoration: none;
  height:30PX;  
  padding-left:15px;
  filter: alpha(Opacity=85);
}

/* Root Menu Hover Persistence */
ul#navmenu-h ul a:hover,
ul#navmenu-h ul li:hover a,
ul#navmenu-h ul li.iehover a {
  background: #E1E1E1;
  color: #666;
}

/* 2nd Menu */
ul#navmenu-h li:hover li a,
ul#navmenu-h li.iehover li a {
  float: none;
  background: #FFF;
  color: #000;
}

/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,
ul#navmenu-h li:hover li:hover a,
ul#navmenu-h li.iehover li a:hover,
ul#navmenu-h li.iehover li.iehover a {
  background: #E1E1E1;
  color: #666;
}

/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a,
ul#navmenu-h li.iehover li.iehover li a {
  background: #FFF;
  color: #000;
}

/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover,
ul#navmenu-h li:hover li:hover li:hover a,
ul#navmenu-h li.iehover li.iehover li a:hover,
ul#navmenu-h li.iehover li.iehover li.iehover a {
  background: #E1E1E1;
  color: #666;
}

/* 4th Menu */
ul#navmenu-h li:hover li:hover li:hover li a,
ul#navmenu-h li.iehover li.iehover li.iehover li a {
  background: #FFF;
  color: #000;
}

/* 4th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li a:hover,
ul#navmenu-h li.iehover li.iehover li.iehover li a:hover {
  background: #E1E1E1;
  color: #666;
}

/* 5th Menu */
ul#navmenu-h li:hover li:hover li:hover li:hover li a,
ul#navmenu-h li.iehover li.iehover li.iehover li.iehover li a {
  background: #FFF;
  color: #000;
}

/* 5th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li:hover li a:hover,
ul#navmenu-h li.iehover li.iehover li.iehover li.iehover li a:hover {
  background: #E1E1E1;
  color: #666;
}

/* 6th Menu */
ul#navmenu-h li:hover li:hover li:hover li:hover li:hover li a,
ul#navmenu-h li.iehover li.iehover li.iehover li.iehover li.iehover li a {
  background: #FFF;
  color: #000;
}

/* 6th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li:hover li:hover li a:hover,
ul#navmenu-h li.iehover li.iehover li.iehover li.iehover li.iehover li a:hover {
  background: #E1E1E1;
  color: #666;
}


ul#navmenu-h ul ul,
ul#navmenu-h ul ul ul,
ul#navmenu-h ul ul ul ul,
ul#navmenu-h ul ul ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu-h li:hover ul ul,
ul#navmenu-h li:hover ul ul ul,
ul#navmenu-h li:hover ul ul ul ul,
ul#navmenu-h li:hover ul ul ul ul ul,
ul#navmenu-h li:hover ul ul ul ul ul ul,
ul#navmenu-h li.iehover ul ul,
ul#navmenu-h li.iehover ul ul ul,
ul#navmenu-h li.iehover ul ul ul ul,
ul#navmenu-h li.iehover ul ul ul ul ul,
ul#navmenu-h li.iehover ul ul ul ul ul ul{
  display: none;
}

ul#navmenu-h li:hover ul,
ul#navmenu-h ul li:hover ul,
ul#navmenu-h ul ul li:hover ul,
ul#navmenu-h ul ul ul li:hover ul,
ul#navmenu-h ul ul ul ul li:hover ul,
ul#navmenu-h ul ul ul ul ul li:hover ul,
ul#navmenu-h li.iehover ul,
ul#navmenu-h ul li.iehover ul,
ul#navmenu-h ul ul li.iehover ul,
ul#navmenu-h ul ul ul li.iehover ul,
ul#navmenu-h ul ul ul ul li.iehover ul,
ul#navmenu-h ul ul ul ul ul li.iehover ul {
  display: block;
}
